h1 {
    position: absolute;
    top: 4rem;
    left: 1rem;
    color: black;
    z-index: 10;
    margin: 0;
    padding: 0;
}

.search {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
    width: 200%;
    max-height: 100px;
    max-width: 400px;
    z-index: 10;

    width:600px;
    background-color: white;
    height:65px;
    border-radius: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 30px;
}

.locate {
    position: absolute;
    right: 1rem;
    height: 100px;
    color: black;
    z-index: 10;
}